<footer>
    <div class="container">
        <div class="footer-grid">
            <div class="footer-contact">
                <h4>Hubungi Kami</h4>
                <p>
                    Jl. Wayang Sendangsari Pengasih Kulon Progo, Kalurahan Sendangsari,
                    Kapanewon Pengasih, Kabupaten Kulon Progo, Provinsi DI Yogyakarta,
                    Indonesia, 55652.
                </p>
                <p>Telepon/Fax: 0274775144</p>
                <p>Email: <a href="mailto:kolahbanyu.sendangsari@gmail.com">kolahbanyu.sendangsari@gmail.com</a></p>

                <div class="social-media">
                    <a href="https://youtube.com/@kolahbanyu?si=QL788cPu4SpiGmA0" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
                    <a href="https://www.instagram.com/kolahbanyu.sendangsari?igsh=MXE4Nml1NmVzeHQ0Yg==" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.tiktok.com/@kolahbanyu3?_t=ZS-8zEQIwNqFyz&_r=1" aria-label="TikTok"><i class="fab fa-tiktok"></i></a>
                    <a href="https://wa.me/6285729607226" aria-label="WhatsApp"><i class="fab fa-whatsapp"></i></a>
                </div>

                <div class="footer-partners">
                    <img src="/assets/images/logo/Logo-Kemdikbud-Warna.png" alt="Logo Partner 1">
                    <img src="/assets/images/logo/Logo-simbelmawa-bersinergi.png" alt="Logo Partner 2">
                    <img src="/assets/images/logo/Logo-PPK-Ormawa-removebg-preview.png" alt="Logo Partner 3">
                    <img src="/assets/images/logo/UAI_FIX-1-1392x1346.png" alt="Logo Partner 4">
                    <img src="/assets/images/logo/Logo-Bem.png" alt="Logo Partner 5">
                    <img src="/assets/images/logo/LogoKPkotak__sid__Wp72fhs-Copy.png" alt="Logo Partner 6">
                    <img src="/assets/images/logo/LOGO EDUWISTA BULAT.png" alt="Logo Partner 7">
                </div>
            </div>

            <div class="footer-map">
                <h3>Sekolah Sampah Bantala Abyudaya</h3>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d415.4616693732384!2d110.14917930611993!3d-7.836326142536581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7afb002a57e0e5%3A0x6dbf8aed2eb3759f!2sKOLAH%20BANYU!5e0!3m2!1sen!2sid!4v1756006751445!5m2!1sen!2sid"
                    width="100%"
                    height="300"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>© 2024 Sekolah Sampah Bantala Abyudaya</p>
        <p>Made by PPK ORMAWA Badan Eksekutif Mahasiswa AKPRIND University</p>
    </div>
</footer>