<header id="main-header">
    <nav class="container">
        <div class="logo-container">
            <a href="home.html">
                <img src="/assets/images/logo/Logo-putih kolahbanyu.png" alt="Logo Kolah Banyu" id="logo-img">
            </a>
        </div>

        <ul class="nav-links" id="mobile-menu">
    
        <li class="close-btn-wrapper">
            <button class="close-btn" id="close-menu-btn" aria-label="Tutup Menu">
                <i class="fas fa-times"></i>
            </button>
        </li>

        <li class="mobile-menu-logo">
            <img src="/assets/images/logo/logo warna kolah banyu.png" alt="Logo Kolah Banyu">
        </li>

        <li><a href="index.html">Home</a></li>
        <li><a href="profil.html">Profil</a></li>
        <li><a href="berita.html">Berita</a></li>
        <li><a href="agenda.html">Agenda</a></li>
        <li><a href="layanan.html">Layanan</a></li>

        <li class="mobile-menu-button">
            <a href="/page booking/index.html" class="mobile-menu-button a">Booking Sekarang</a>
        </li>

        <li><hr class="menu-separator"></li>

        <li class="mobile-menu-social">
            <a href="https://www.instagram.com/kolahbanyu.sendangsari?igsh=MXE4Nml1NmVzeHQ0Yg==" class="social-icon instagram" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://youtube.com/@kolahbanyu?si=QL788cPu4SpiGmA0" class="social-icon youtube" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
            <a href="https://www.tiktok.com/@kolahbanyu3?_t=ZS-8zEQIwNqFyz&_r=1" class="social-icon tiktok" aria-label="TikTok"><i class="fab fa-tiktok"></i></a>
            <a href="https://wa.me/6285729607226" class="social-icon whatsapp" aria-label="WhatsApp"><i class="fab fa-whatsapp"></i></a>
        </li>

        </ul>
        
        <div class="nav-right">
            <a href="/page booking/index.html" class="btn btn-outline">Booking Sekarang</a>
            
            <button class="hamburger-btn" id="hamburger-btn" aria-label="Buka Menu">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </nav>
</header>